<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ecatalogbackend-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ecatalogbackend-prod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ECatalogBackEnd__Prod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ECatalogBackEnd__Prod</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ECatalogDB" Order="1" Enabled="False">
          <Destination Path="Data Source=ecatalogdbserver.database.windows.net;Initial Catalog=EcatalogDB-Production;User ID=ecatalogadmin;Password=ecatalogP@ssw0rd" Name="Data Source=ecatalogdbserver.database.windows.net;Initial Catalog=EcatalogDB-Production;User ID=ecatalogadmin;Password=ecatalogP@ssw0rd;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ecatalogdbserver.database.windows.net;Initial Catalog=EcatalogDB-Production;User ID=ecatalogadmin;Password=ecatalogP@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ECatalogDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ecatalogdbserver.database.windows.net;Initial Catalog=EcatalogDB-Production;user id=ecatalogadmin;password=ecatalogP@ssw0rd; MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ECatalogDB-Web.config Connection String">
      <ParameterValue>Data Source=ecatalogdbserver.database.windows.net;Initial Catalog=EcatalogDB-Production;User ID=ecatalogadmin;Password=ecatalogP@ssw0rd;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>