################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrontEnd/src/dist
/FrontEnd/src/node_modules
/API/ECatalog.API/bin
