
<div class="sub_data">
    <div class="main_category">
        <div class="col-sm-12 col-xs-12 col-md-12 subs">
        
            <div class="sub_content">
                <img src="{{itemCtrl.catgoryTemplates.menuImageURL}}" alt="" />
                
                <div class="active_book">
                 <p>{{itemCtrl.catgoryTemplates.menuName}}</p>
                </div>
            </div>
            <div class="sub_content2">
                <img src="{{itemCtrl.catgoryTemplates.categoryImageURL}}" alt="" />
                <div class="over">
                    <div class="active2">
                     <p>{{itemCtrl.catgoryTemplates.categoryName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a class="back" href="#"><img src="assets/img/back.png" alt="" /></a>
</div>
   
<flipbook itempagectrl="itemCtrl.catgoryTemplates.templates" itemdetails="itemCtrl.itemDetails"></flipbook>

<div id="inline2" class="main_lity lity-hide">
    <div class="col-sm-6 col-xs-6 col-md-6 header_pop">
        <img src="{{itemCtrl.itemDetails.imageURL}}" alt="" />
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6">
        <h3>{{itemCtrl.itemDetails.itemName}}</h3>
        <p>{{itemCtrl.itemDetails.itemDescription}}</p>
        <div class="menu_plus">
            <p ng-repeat="size in itemCtrl.itemDetails.sizes">{{size.price}} <span>{{size.sizeName}}</span></p>    
    <!-- <p>Plus <span>113</span></p>
    <p>130 <span>S</span></p>
    <p>160 <span>M</span></p>
    <p>200 <span>L</span></p> -->
        </div>
    </div>
    <!-- <div class="col-sm-6 col-xs-6 col-md-6">
        <p>simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has 
            been the industry's standard dummy t
            ext ever since the 1500s, when an unknown ....
        </p>
    </div> -->
</div>
        