
<div class="sub_data">
    <div class="main_category">
        <div class="col-sm-12 col-xs-12 col-md-12 subs">

            <div class="sub_content">
                <img src="{{itemCtrl.catgoryTemplates.menuImageURL}}" alt="" />

                <div class="active_book">
                    <p>{{itemCtrl.catgoryTemplates.menuName}}</p>
                </div>
            </div>
            <div class="sub_content2">
                <img src="{{itemCtrl.catgoryTemplates.categoryImageURL}}" alt="" />
                <div class="over">
                    <div class="active2">
                        <p>{{itemCtrl.catgoryTemplates.categoryName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a class="back" href="#">
        <img  alt="" />
    </a>
</div>

<flipbook itempagectrl="itemCtrl.catgoryTemplates.templates" itemdetails="itemCtrl.itemDetails"></flipbook>
<div id="inline2" class="main_lity lity-hide">
    <div class="col-sm-6 col-xs-6 col-md-6 header_pop">
        <img src="{{itemCtrl.itemDetails.imageURL}}" alt="" />
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6 ">
        <h3>{{itemCtrl.itemDetails.itemName}}</h3>
        <p>{{itemCtrl.itemDetails.itemDescription}}</p>
        <div class="menu_plus">
            <h3>Sizes</h3>
            <p ng-repeat="size in itemCtrl.itemDetails.sizes">
                {{size.price}}
                <span>{{size.sizeName}}</span>
                <input type="radio" ng-model="selectedSize" ng-click="radioSizeClick(size)" name="name" required />


            </p>
           
        </div>
        <br>
        <div class="menu_plus">
            <h3>Side Items</h3>

            <p ng-repeat="side in itemCtrl.itemDetails.sideItems">
                <span>{{side.sideItemName}}</span>
                <span>{{side.value}}</span>
                <input type="checkbox" ng-model="selectedSide" ng-click="checkSideClick(side)" name="name" required  >
            </p> 
            
        </div>

    </div>
    <a style="cursor: pointer;" ng-click="addItemToCart(itemCtrl.itemDetails)">Add</a>
{{total}}
    <!-- <div class="col-sm-6 col-xs-6 col-md-6">
        <p>simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has
            been the industry's standard dummy t
            ext ever since the 1500s, when an unknown ....
        </p>
    </div> -->
</div>
