    <div ng-class="{page1:(lang == 'en' && (pageitems.pageNumber % 2) === 0) || (lang == 'ar' && (pageitems.pageNumber % 2) !== 0)
    , page2:(lang == 'en' && (pageitems.pageNumber % 2) !== 0) || (lang == 'ar' && (pageitems.pageNumber % 2) === 0)}">
        <div class="img_header">
            <img ng-src="{{pageitems.itemModels[0].imageURL}}" style="max-height: 139px" />  
            <!-- <img src="assets/img/img1.jpg" /> -->
            
        </div>
        <div class="main_data">
            <div class="col-sm-8 col-xs-8 col-md-8">
                <h3>{{pageitems.itemModels[0].itemName}}</h3>
                <p>{{pageitems.itemModels[0].itemDescription}}</p>
            
            </div>
            
            <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="row" style="padding-top: 26px!important; ">
                <div class="col-sm-5 col-xs-5 col-md-5 no_padding">
                    <p class="item_price" ng-repeat="size in pageitems.itemModels[0].sizes">{{size.price}} <span class="ssss">{{size.sizeName}}</span></p>
                    <!-- <p class="item_price">130 <span>S</span></p>
                    <p class="item_price">130 <span>S</span></p> -->
                </div>
                <div class="col-sm-7 col-xs-7 col-md-7 edits no_padding">

                    <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[0])" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
                    <!-- <a href="#"><img src="assets/img/plus.png" alt="" /></a> -->

                </div>
            </div>
        </div>
    </div>
    <div class="main_data" ng-show="pageitems.itemModels[1] != null">
        <div class="col-sm-8 col-xs-8 col-md-8">
            <h3>{{pageitems.itemModels[1].itemName}}</h3>
            <p>{{pageitems.itemModels[1].itemDescription}} </p>
      
      <div class="col-sm-12 col-xs-12 col-md-12 no_padding">
      
      <div class="col-sm-5 col-xs-5 col-md-5 no_padding">
            <p class="item_price" ng-repeat="size in pageitems.itemModels[1].sizes">{{size.price}} <span class="ssss">{{size.sizeName}}</span></p>
        <!-- <p class="item_price">130 <span>S</span></p>
        <p class="item_price">130 <span>S</span></p>
        <p class="item_price">130 <span>S</span></p> -->
        </div>
        <div class="col-sm-7 col-xs-7 col-md-7 edits no_padding">
        
        <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[1])"  data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
        <!-- <a href="#"><img src="assets/img/plus.png" alt="" /></a> -->
        <a style="cursor: pointer;" ng-click="addItemToCart(pageitems.itemModels[0])">
            <!-- <img src="assets/img/plus.png" alt="" /> -->
        </a>
       </div>
      
        </div>
        
        </div>


        <div class="col-sm-4 col-xs-4 col-md-4">
        <img ng-src="{{pageitems.itemModels[1].imageURL}}?type=orignal2" style="max-height: 69px;" alt="" />
        </div>
    </div>

    <div class="main_data" ng-show="pageitems.itemModels[2] != null">
        <div class="col-sm-4 col-xs-4 col-md-4">
                <img ng-src="{{pageitems.itemModels[2].imageURL}}?type=orignal2" style="max-height: 69px;"alt="" />
                </div>
        <div class="col-sm-8 col-xs-8 col-md-8">
            <h3>{{pageitems.itemModels[2].itemName}}</h3>
            <p>{{pageitems.itemModels[2].itemDescription}}</p>

            <div class="col-sm-12 col-xs-12 col-md-12 no_padding">

                <div class="col-sm-5 col-xs-5 col-md-5 no_padding">
                    <p class="item_price" ng-repeat="size in pageitems.itemModels[2].sizes">{{size.price}} <span class="ssss">{{size.sizeName}}</span></p>
                    <!-- <p class="item_price">130 <span>S</span></p>
                    <p class="item_price">130 <span>S</span></p>
                    <p class="item_price">130 <span>S</span></p> -->
                </div>
                <div class="col-sm-7 col-xs-7 col-md-7 edits no_padding">

                    <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[2])" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
                    <!-- <a href="#"><img src="assets/img/plus.png" alt="" />
                    </a> -->
                </div>

            </div>

        </div>


    </div>

</div>
